<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品分类管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--引入angularjs框架-->
	<script src="../plugins/angularjs/angular.min.js"></script>
	<!--引入分页组件-->
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<script src="../plugins/angularjs/pagination.js"></script>
	<!--引入模块-->
	<script src="../js/app/base_pagination.js"></script>

	<!--引入三个js文件-->
	<script src="../js/service/itemCatService.js"></script>
	<script src="../js/controller/itemCatController.js"></script>

	<!--引入angularjs提供的多选下拉列表框组件-->
	<link rel="stylesheet" href="../plugins/select2/select2.css">
	<link rel="stylesheet" href="../plugins/select2/select2-bootstrap.css">
	<script type="text/javascript" src="../plugins/select2/select2.min.js"></script>
	<script type="text/javascript" src="../plugins/select2/angular-select2.js"></script>
    
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="youlexuan" ng-controller="itemCatController" >
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">商品分类管理     
                       	</h3>
                    </div>

                    <div class="box-body">
                  			 <ol class="breadcrumb">	                        	
                        		<li>
		                        	<a ng-click="updateGrade(1);selectList({id:0})" >顶级分类列表</a>
		                        </li>
		                        <li>
		                       		<a ng-click="updateGrade(2);selectList(entity1)" >{{entity1.name}}</a>
		                        </li>
		                        <li>
		                        	<a>{{entity2.name}}</a>
		                        </li>
	                        </ol>

                        <!-- 数据表格 -->
                        <div class="table-box">
							
                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button ng-click="entity = {name:'',typeId:'',parentId:parentId}" type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i> 新建</button>
                                        <button ng-click="deleteIds()" type="button" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="刷新" ><i class="fa fa-check"></i> 刷新</button>
                                       
                                    </div>
                                </div>
                            </div>                          
                       		
                        
			                <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">分类ID</th>
									      <th class="sorting">分类名称</th>									   
									      <th class="sorting">模板名称</th>
									     						
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="itemCat in list">
			                              <td><input ng-click="updateSelectIds($event,itemCat.id)" type="checkbox" ></td>
				                          <td>{{itemCat.id}}</td>
									      <td>{{itemCat.name}}</td>
									      <td>{{tempalteName[itemCat.typeId]}}</td>
		                                  <td class="text-center">
											  <span ng-if="grade!=3">
		                                      <button ng-click="updateGrade(grade+1);selectList(itemCat)" type="button" class="btn bg-olive btn-xs" >查询下级</button>
											  </span>
		                                 	  <button ng-click="getOne(itemCat.id)" type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" >修改</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->
							<tm-pagination conf="paginationConf" ></tm-pagination>
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                        
                        
                     </div>
                    <!-- /.box-body -->
              
                                
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">商品分类编辑</h3>
		</div>
		<div class="modal-body">							
			
			<table class="table table-bordered table-striped"  width="800px">
				<tr>
					<td>
						<!--珠宝 >>  银饰-->
						顶级分类
						<span ng-if="entity1.name != ''">
							>> {{entity1.name}}
						</span>

						<span ng-if="entity2.name != ''">
							>> {{entity2.name}}
						</span>

					</td>
		      	</tr>
		      	<tr>
		      		<td>商品分类名称</td>
		      		<td><input ng-model="entity.name" class="form-control" placeholder="商品分类名称">  </td>
		      	</tr>			  
		      	<tr>
		      		<td>类型模板</td>
		      		<td>
						<select  class="form-control" ng-model="entity.typeId"
								ng-options="template.id as template.name for template in templateList">
							<!--in后边：集合-->
							<!--
							template.id（选择了option后将id赋值给entity.typeId）  as  template.name（下拉框各个option显示的内容）
							-->
						</select>
		      		</td>		      		      		
		      	</tr>		      	
			 </table>				
			
		</div>
		<div class="modal-footer">						
			<button ng-click="save()" class="btn btn-success" data-dismiss="modal" aria-hidden="true">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
</body>
</html>