<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--引入angularjs框架-->
	<script src="../plugins/angularjs/angular.min.js"></script>
	<!--引入分页控件-->
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<script src="../plugins/angularjs/pagination.js"></script>
	<!--引入app,controller,service-->
	<script src="../js/app/base_pagination.js"></script>
	<script src="../js/service/goodsService.js"></script>
	<script src="../js/controller/baseController.js"></script>
	<script src="../js/controller/goodsController.js"></script>
 
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="youlexuan" ng-controller="goodsController">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">商品管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <!--<button type="button" class="btn btn-default" title="新建" ><i class="fa fa-file-o"></i> 新建</button>-->
                                        <button ng-click="deleteGoods()" type="button" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
                                       <!-- <button type="button" class="btn btn-default" title="提交审核" ><i class="fa fa-check"></i> 提交审核</button>-->
                                        <button type="button" class="btn btn-default" title="屏蔽" onclick='confirm("你确认要屏蔽吗？")'><i class="fa fa-ban"></i> 屏蔽</button>
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                  状态：<select ng-model="searchEntity.auditStatus">
                                         	<option value="">全部</option>
                                         	<option value="0">未审核</option>
                                         	<option value="1">审核通过</option>
                                         	<option value="2">已驳回</option>
                                        </select>
							                  商品名称：<input ng-model="searchEntity.goodsName">
									<button ng-click="reloadList()" class="btn btn-default" >查询</button>
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">商品ID</th>
									      <th class="sorting">商品名称</th>
									      <th class="sorting">商品价格</th>
									      <th class="sorting">一级分类</th>
									      <th class="sorting">二级分类</th>
									      <th class="sorting">三级分类</th>
									      <th class="sorting">审核状态</th>
										  <th class="sorting">上架状态</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="goods in goodsList">
										  <td><input ng-click="updateSelectIds($event,goods.id)" type="checkbox"></td>
										  <td>{{goods.id}}</td>
										  <td>{{goods.goodsName}}</td>
										  <td>{{goods.price}}</td>
										  <td>{{categoryName[goods.category1Id]}}</td>
										  <td>{{categoryName[goods.category2Id]}}</td>
										  <td>{{categoryName[goods.category3Id]}}</td>
										  <td>
		                                  	<span>
		                                  		{{goodsStatus[goods.auditStatus]}}
		                                  	</span>
										  </td>
										  <td>
		                                  	<span>
		                                  		{{isMarket[goods.isMarketable]}}
		                                  	</span>
										  </td>
		                                  <td class="text-center">
											  <span ng-if="goods.isMarketable==1">
												  <button ng-click="updateMarket(0,goods)" type="button" class="btn bg-olive btn-xs">下架</button>
											  </span>
											  <span ng-if="goods.isMarketable==0">
												  <button ng-click="updateMarket(1,goods)" type="button" class="btn bg-olive btn-xs">上架</button>
											  </span>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->
							<!--引入分页控件-->
							<tm-pagination conf="paginationConf"></tm-pagination>
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                     </div>
                    <!-- /.box-body -->
		
</body>

</html>